@page
@model BrowseDadJokesModel
@{
    ViewData["Title"] = "Browse Dad Jokes";
}

<h1>@ViewData["Title"]</h1>

<form id="search-form" method="post">

    <div class="input-group mb-3 col-md-6 mx-md-auto">
        <input type="text" class="form-control" name="SearchTerm"
               placeholder="Search..." value="@Model.SearchTerm">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </div>

    @if (Model.Jokes?.Length > 0)
    {
        <ul class="list-group mb-3">
            @foreach (var joke in Model.Jokes)
            {
                <li class="list-group-item">@joke</li>
            }
        </ul>
    }
    else
    {
        <p>No dad jokes found for '@Model.SearchTerm'.</p>
    }

</form>
