@page
@using ICanHazDadJoke.NET;
@{
    ViewData["Title"] = "Dad Jokes";
}

<h1>@ViewData["Title"]</h1>

<p>Are you ready for a dad joke? 3... 2... 1...</p>

<div class="container">
    <div class="row">
        <div class="col-md-6 m-md-auto">

            <div class="card text-center">
                <div class="card-body">
                    <p id="dadJoke" class="card-text">@await GetRandomJokeAsync()</p>
                    <button type="button" class="btn btn-primary" onclick="refreshJoke()">Get another dad joke</button>
                </div>
            </div>

            <div class="text-center">
                <a href="/BrowseDadJokes" class="btn btn-link">Browse all dad jokes...</a>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
<script>
    function refreshJoke() {
        $.getJSON("https://icanhazdadjoke.com/", function (data) {
            $("#dadJoke").text(data.joke);
        });
    }
</script>
}

@functions
{
    async Task<string> GetRandomJokeAsync()
    {
        var client = new DadJokeClient("WebIntro", "https://github.com/mattleibow/aspnetcore-razor-pages");
        return await client.GetRandomJokeStringAsync();
    }
}
